# Database
DATABASE_URL=postgresql://user:password@hostname:port/database?sslmode=require

# Authentication
BETTER_AUTH_SECRET=your-secret-key
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Email Configuration
ADMIN_EMAIL=admin@example.com
EMAIL_FROM_NAME=Next.js Template
NEXT_PUBLIC_ORG_NAME=Next.js Template

# SMTP Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=user@example.com
SMTP_PASSWORD=your-smtp-password
SMTP_URL=smtp://user%40example.com:your-smtp-password@smtp.example.com:587

# File Upload
UPLOADTHING_TOKEN=your-uploadthing-token

GOOGLE_CLIENT_ID='your-google-client-id'
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Social Media Integration
# Facebook Configuration
FACEBOOK_PAGE_ID=your-facebook-page-id
FACEBOOK_PAGE_TOKEN=your-long-lived-page-access-token

# Instagram Configuration
INSTAGRAM_ACCOUNT_ID=your-instagram-business-account-id
INSTAGRAM_ACCESS_TOKEN=your-instagram-access-token

# Polar Payments
POLAR_ACCESS_TOKEN=some_acces_token
POLAR_WEBHOOK_SECRET=some_acces_token
# Set to 'sandbox' for development, 'production' for live
POLAR_ENVIRONMENT=sandbox
POLAR_GENERIC_PRODUCT_ID=some_product_id